
.dashboard-docente {
  background-color: #f4f6f8;
  font-family: "Segoe UI", sans-serif;
  min-height: auto;
  width: 70vw;
}

.dashboard-docente h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--guinda);
  font-weight: bold;
}



.docente-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.docente-card {
  background-color: white;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px 30px;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.docente-card svg{
  font-size: 2rem;
  color: var(--guinda);
}

.docente-card h3 {
  font-size: 1.3rem;
  color: var(--gris-gris);
}

.docente-card p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--guinda);
}
.graficos{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.docente-chart {
  background: var(--blanco-calido);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
