/* Página */
.planes-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Botones superiores */
.top-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.menu-btn {
  padding: 12px 22px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 15px;
  color: black;
}

.menu-btn:hover {
  background: #f2f2f2;
  color: blue;
}

/* Caja principal */
.content-box {
  width: 80%;
  margin: auto;
  background: #efefef;
  padding: 25px;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 25px;
}

/* Card de cada plan */
.plan-card {
  display: flex;
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

.plan-info {
  width: 80%;
}

.plan-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.plan-title {
  font-size: 18px;
}

.plan-fecha {
  font-size: 14px;
}

.plan-desc {
  margin: 8px 0;
  font-style: italic;
}

.plan-curso {
  text-align: right;
  font-size: 14px;
}

/* Botón Ver Material */
.btn-ver-material {
  background: #0cd6c0;
  border: none;
  padding: 12px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn-ver-material:hover {
  background: #0bb3a1;
}
