.cardCurso{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
}
.tituloCurso{
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}
.gradoCurso{
    margin-bottom: 2rem;
    text-align: center;
}
.botonCurso{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vistaCursos{
    display: flex;
    justify-content: center;
    width:100%;
    gap: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: #cacaca;
}
/*  */
.carrusel-container {
  display: flex;
  align-items: center;
  background-color: var(--rojo-bg);
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
}

.nav-button {
  font-size: 48px;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}

.nav-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.cursos-wrapper {
  display: flex;
  gap: 50px;
}


/*  */
.ultimos-materiales {
  background-color: #f9f3f3;
  padding: 30px;
  border-radius: 12px;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.ultimos-materiales h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.material-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.material-info {
  flex: 1;
}

.material-meta {
  flex: 1;
  font-size: 0.9rem;
  color: #555;
}

.material-button {
  flex-shrink: 0;
}

.material-button button {
  background-color: #00d1d1;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}

.boton-add-material{
  margin-top: 10px;
  background-color: #00d1d1;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}
.boton-add-material:hover{
  background-color: #00b3b3;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
