/* src/pages/Dashboard.css */

.dashboard {
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
  background-color: lightgray;
  min-height: auto;
}

.dashboard-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.dashboard-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #666;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  font-size: 1.3rem;
  color: #444;
  margin-bottom: 10px;
}

.card p {
  font-size: 2rem;
  font-weight: bold;
  color: #4a90e2;
}

.dashboard-chart {
  background-color: white;
  width: 40%;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.graficos{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}