:root {
  /* Primario */
  --guinda: #800020;
  --guinda-hover: #660019;

  /* Neutros */
  --blanco-calido: #FAFAFA;
  --gris-claro: #E0E0E0;
  --gris-medio: #BDBDBD;
  --gris-oscuro: #333333;

  /* Estados */
  --fondo-app: #F5F5F5;
  --card-bg: #FFFFFF;
  --borde-suave: #DDDDDD;
}


/* src/pages/Dashboard.css */

.dashboard {
  font-family: "Segoe UI", sans-serif;
  background-color: lightgray;
}

.dashboard-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.dashboard-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #666;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px ;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.3rem;
  color: #444;
  margin-bottom: 10px;
}

.card p {
  font-size: 2rem;
  font-weight: bold;
  color: #4a90e2;
}

.dashboard-chart {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.graficos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    gap: 1rem;
}
/*  */
.dashboard {
  background-color: var(--fondo-app);
}

.dashboard-title {
  color: var(--guinda);
}

.dashboard-subtitle {
  color: #666;
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--borde-suave);
}

.card p {
  color: var(--guinda);
}
.dashboard-chart {
  background-color: var(--card-bg);
  border: 1px solid var(--borde-suave);
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  background: white;
}

.card-icon {
  font-size: 2rem;
  color: var(--guinda-hover);
  margin-bottom: -.3rem;
}
.card h3 {
  font-size: 1.3rem;
  color: var(--guinda-hover);
  margin-bottom: 0;
}
