*{
    font-family: 'Arial', sans-serif;
}
.containerGestion{
    margin: 10px;
    padding: 10px;
}
.titleGestion{
    text-align: center;
    margin-bottom: 20px;
}
.containerbuttons{
    margin: 10px;
    padding: 10px;
    color: #F0F0F0;
    border: none;
    border-radius: 5px;
}
.buttonGestion{
    margin: 5px;
    padding: 10px;
    background-color: #96A78D;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid #F0F0F0;
    height: 50px;
}

.buttonGestion:hover{
    background-color: #7A8B73;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333;
    border-right: #333 solid 1px;
}

th{
    background-color: #96A78D;
    color: white;
}
tr{
    background-color: #f9f9f9;
}

/* modal */

.formModal{
    width: 800px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
}
.formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 30vw;
}
.formGroup label{
    font-weight: bold;
}
.formGroup input, .formGroup select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.boxImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}