.contenedorGeneral {
  min-width: 98.9vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.sidebarBox {
  min-width: 20%;
  height: 100vh;
  background-color: #96a78d;
  padding: 0 10px;
  color: #f0f0f0;
}

.sidebarTitle {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 20px;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebarLink {
  display: block;
  padding: 0.5rem;
  padding-left: 20px;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
}
.sidebarLink:hover {
  background-color: #4a5568;
}

.sidebarLink {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background 0.3s;
  margin-bottom: 5px;
  font-weight: bold;
}

.sidebarLink:hover {
  background-color: #f0f0f0;
  color: #96a78d;
}

.sidebarLink.active {
  background-color: #b6ceb4;
  color: #000;
  font-weight: bold;
}

.boxMain {
  flex: 1;
  padding: 20px;
  background-color: #d9e9cf;
  color: black;
  display: flex;
  flex-direction: column;
}

/* modal */
/* components/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  color: black;
  padding: 1.5rem;
  border-radius: 8px;
  width: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  background: red;
  color: white;
  border: 1px solid #000;
  font-size: 15px;
  cursor: pointer;
}
.modal-close:hover {
  background: white;
  color: red;
  border: 1px solid red;
}
.modal-body {
  margin-top: 1rem;
}
/*  */

.sidebarBox {
  width: 35vh;
  height: 100vh;
  background-color: var(--guinda);
  padding: 0 10px;
  color: var(--blanco-calido);
  position: fixed;
}

.sidebarTitle {
  color: var(--blanco-calido);
}

.sidebarLink {
  color: var(--blanco-calido);
  background-color: transparent;
}

.sidebarLink:hover {
  background-color: rgba(255,255,255,0.15);
}

.sidebarLink.active {
  background-color: var(--blanco-calido);
  color: var(--guinda);
}
.boxMain {
  margin-left: 20%;
  flex: 1;
  padding: 20px;
  background-color: var(--fondo-app);
  color: var(--gris-oscuro);
  padding-left: 4%;
}

.cerrarSesion{
  display: flex;
  margin: 50vh auto;
  color: var(--blanco-calido);
  background-color: var(--guinda-hover);
  font-weight: bold;

}
.cerrarSesion:hover{
  background-color: var(--gris-medio);
  color: var(--guinda);
  font-weight: bold;
  border-color: var(--guinda-hover);
}