.boxLogin {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.boxLogin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/fondoLogin.jpg"); /* O desde public */
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: 0;
}
.cardLogin {
  z-index: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin-left: 80px;
}
#legendLogin {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.bloqueInput {
  margin-bottom: 1rem;
}

.labelInput {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #000;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 16px;
  color: black!important;
}


.bloqueButtonLogin {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttonLogin {
  width: 50%;
  padding: 0.7rem;
  background-color: #29b982;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
    color: white;
  background-color: #16f19e;
}
