/* .boxLogin {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
} */
.boxLogin {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-image 1s ease-in-out;
}
.boxLogin {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;

  background-size: cover;
  background-position: center;
}


/* .boxLogin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/fondoLogin.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: 0;
} */
 .boxLogin::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* .cardLogin {
  z-index: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: auto;
  margin-left: 5rem;
} */
 .loginContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-left: 5rem;
}

.boxLogin h3 {
  position: absolute;
  top: 5%;
  left: 30%;
  text-align: center;
  color: white;
  font-size: 2em;
  max-width: 100vw;
  text-shadow:     0 2px 4px rgb(0, 0, 0),
    0 6px 12px rgb(0, 0, 0);
  font-weight: bold;
  z-index: 99999;
}

 .cardLogin {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
  width: 22rem;
  margin-left: 2rem;
  z-index: 2;
}

#legendLogin {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--guinda);
  font-size: 20px;
}
fieldset{
  border-color: var(--guinda);
}
.imagenLogin{
  display: flex;
  justify-content: center;
  width: 10rem;
  height: auto;
  margin: 0 auto;
}

.bloqueInput {
  margin-bottom: 1rem;
  margin-left: 1.2rem;
}

.labelInput {
  text-transform: capitalize;
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #000;
  margin-left: 2rem;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 16px;
  color: black!important;
}


.bloqueButtonLogin {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonLogin {
  width: 50%;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.cardLogin {
  background-color: var(--blanco-calido);
}

input[type="text"],
input[type="password"] {
  background-color: var(--gris-claro);
}
